/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* Reset & Basics (Inspired by E. Meyers) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* Basic Styles  */
html { background: #fff; }
body { background: #f6f6f6; font: 14px/1.6 Helvetica, Arial, sans-serif; color: #333; -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */ -webkit-text-size-adjust: 100%; }
header { background: #fff; }
table { margin: 10px 0; }
tr:hover td, tr.even:hover td.active, tr.odd:hover td.active { background: #fff; }
.zone-content-wrapper, .zone-postscript-wrapper { background: #fff; }

/* Typography */

h1, h2, h3, h4, h5, h6 { color: #111; font-weight: bold; }
h1 { font-size: 60px; line-height: 1.1; }
h2 { font-size: 48px; line-height: 1.2; }
h3, h4 { font-size: 24px; line-height: 1.4; margin-bottom: 6px; text-transform: uppercase; }
h5 { font-size: 21px; line-height: 1.5; }
h6 { font-size: 18px; line-height: 1.6; }
p { font-family: 'LinuxLibertineRegular', serif; font-size: 20px; margin: 0 0 20px 0; }
em { font-style: italic; }
strong { font-weight: bold; }
hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
.bold { font-weight: bold; }
.italic { font-style: italic; }

/* Links */

a { color: #58a2fe; font-weight: bold; text-decoration: none; outline: 0; }
a:link, a:visited { color: #58a2fe; font-weight: bold; text-decoration: none; }
a:hover, a:focus { color: #000; }
a#espanol { display: block; float: right; text-decoration: none; }
a.btn { display: inline-block; *display: inline; padding: 4px 10px 4px; *margin-left: .3em; font-size: 13px; line-height: 18px; *line-height: 20px; color: #58a2fe; text-align: center; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; cursor: pointer; background-color: #f5f5f5; *background-color: #e6e6e6; background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; border: 1px solid #cccccc; *border: 0; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-color: #e6e6e6 #e6e6e6 #bfbfbf; border-bottom-color: #b3b3b3; -webkit-border-radius: 4px;    -moz-border-radius: 4px; border-radius: 4px; filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0); filter: progid:dximagetransform.microsoft.gradient(enabled=false); *zoom: 1; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
a.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
a.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; *background-color: #d9d9d9; /* Buttons in IE7 don't get borders, so darken on hover */ background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
a.btn:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
a.btn.active, a.btn:active { background-color: #e6e6e6; background-color: #d9d9d9 \9; background-image: none; outline: 0; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }
a.red { background-color: #da4f49; *background-color: #bd362f; background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f)); background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f); background-image: -o-linear-gradient(top, #ee5f5b, #bd362f); background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f); background-image: linear-gradient(top, #ee5f5b, #bd362f); background-repeat: repeat-x; border-color: #bd362f #bd362f #802420; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: #fff; filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0); filter: progid:dximagetransform.microsoft.gradient(enabled=false); }
a.red:hover, a.red:active, a.red.active, a.red.disabled, a.red[disabled] { background-color: #bd362f; *background-color: #a9302a; color: #f6f6f6; }
a.red:active, a.red.active { background-color: #942a25 \9; }
.marbot { margin-bottom: 30px; }

/* Titles */

h1.title { margin: 0; padding: 35px 0 20px; }
h2.block-title { font-size: 24px; line-height: 1.4; margin: 0 0 6px; text-align: center; text-transform: uppercase; }
.not-front h3 { margin-bottom: 15px; }

/* Sitewide layouts */

.not-front .zone-content, .page-user .zone-content { margin-bottom: 50px; }
.not-front .views-row-last { border-bottom: none; margin-bottom: 15px; padding-bottom: 0; }
.not-front .field-name-field-documents { border-top: 1px solid #c0c0c0; padding-top: 25px; }

/* Sitewide header */

#logo { display: block; margin: 10px auto; max-width: 300px; }
.zone-menu-wrapper { background: #ffc867; background-color: #ffc867; background-image: -moz-linear-gradient(top,#ffc867 0%,#fdc25a 100%); background-image: -webkit-linear-gradient(top,#ffc867 0%,#fdc25a 100%); background-image: -o-linear-gradient(top,#ffc867 0%,#fdc25a 100%); background-image: -ms-linear-gradient(top,#ffc867 0%,#fdc25a 100%); background-image: linear-gradient(top,#ffc867 0%,#fdc25a 100%); background-repeat: repeat-x;
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffc867',endColorstr='#fdc25a',GradientType=0); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1); position: relative; z-index: 100; }
.zone-menu-wrapper ul.menu { display: inline; line-height: 1; margin: 0; }
.zone-menu-wrapper ul.menu li { display: inline; float: left; padding: 15px 12px 12px; }
.zone-menu-wrapper ul.menu li.last { float: right; }
.zone-menu-wrapper ul.menu li a { color: #fff; font-weight: bold; text-decoration: none; text-transform: uppercase; }
.zone-menu-wrapper ul.menu li a:hover { color: #f6f6f6; }
.zone-menu-wrapper ul.menu li a.active { color: #fff; }

/* Homepage */

.flex-nav-container { margin-top: 30px; }
.flexslider { box-shadow: 0 1px 4px rgba(0, 0, 0, .2); margin-bottom: 30px; -webkit-border-radius: 0; -moz-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
.front .container-12 .prefix-1 { padding-left: 20px !important; }
.front .region-sidebar-second { margin-top: 0px; }
.views-row { border-bottom: 1px solid #f0f0f0; margin-bottom: 12px; padding-bottom: 12px; }
.front .views-row-last { border-bottom: none; margin-bottom: 0; padding-bottom: 0; }
.views-field-field-article-publication-date { font-style: italic; }
.front .block-7, .front .block-8, .front .block-9, .front .block-10 { margin-bottom: 25px; text-align: center; }
a#homework { background: transparent url(/sites/all/themes/ncsh/img/box.png) no-repeat 50% 50%; display: block; height: 100px; margin-top: 20px; width: 115px; }
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { background-color: #fff; border: 1px solid #ccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border linear 0.2s, box-shadow linear 0.2s; -moz-transition: border linear 0.2s, box-shadow linear 0.2s; -ms-transition: border linear 0.2s, box-shadow linear 0.2s; -o-transition: border linear 0.2s, box-shadow linear 0.2s; transition: border linear 0.2s, box-shadow linear 0.2s; height: 30px; }
.front .block-10 h2.block-title { color: #ffc867; }
.front .zone-content { margin-bottom: 20px; }
.front .zone-postscript { margin-bottom: 50px; }

/* About */

.zone-header-wrapper { min-height: 40px; background-color: #f0f0f0; border-bottom: 1px solid #b5b6b6; }
.sticky { position: fixed; top: 0; left: auto; width: 100%; z-index: 200; }
.zone-header-wrapper ul.menu { display: inline; line-height: 1; margin: 0; }
.zone-header-wrapper ul.menu li { display: inline; float: left; padding: 15px 12px 12px; }
.zone-header-wrapper ul.menu li a { color: #58a2fe; font-weight: bold; text-decoration: none; text-transform: none; }
.zone-header-wrapper ul.menu li a:hover { color: #3c93ff; }
.zone-header-wrapper ul.menu li a.active { color: #58a2fe; }
.context-about .section-content img { width: 100%; }
.context-about td { font-family: 'LinuxLibertineRegular', serif; text-align: center; }
.context-about .first-letter { color: #ffc867; font-size: 34px; }

/* All subpage region-content */

.context-support .block-block-14 p { margin: 0; }

/* All subpage sidebar second */

.not-front .region-sidebar-second { padding: 50px 0 0; }
.not-front .region-sidebar-second .block { margin: 0 0 30px; }
.not-front .region-sidebar-second h2.block-title { text-align: left; }
.not-front .region-sidebar-second p { font: 14px/1.6 Helvetica, Arial, sans-serif; }
.not-front .region-sidebar-second .block-inner { border: 1px solid #c0c0c0; padding: 20px 20px 0; }
.context-board .region-sidebar-second .views-field-field-date { margin: 10px 0; }
.not-front .region-sidebar-second a.btn { margin-bottom: 20px; }

/* Sitewide Footer */

footer { background: #f6f6f6; border-top: 1px solid #c0c0c0; color: #c0c0c0; }
footer a:link, footer a:visited { color: #c0c0c0; }
footer ul li.leaf { list-style-image: none; list-style-type: none; }
footer ul.menu li { margin-left: 0; }
footer .region-footer-first, footer .region-footer-second, footer .region-footer-third, footer .region-footer-fourth { margin-top: 50px; margin-bottom: 100px;}
footer .block-webform h2 { color: #C0C0C0; font-size: 14px; padding-top: 2px; text-align: left; text-transform: capitalize; }
#webform-component-email input[type="text"] { width: 100%; }
#webform-component-comment-or-question textarea { height: 76px; width: 100%; }
.front .webform-container-inline label { display: block; }
.resizable-textarea .grippie { display: none; }
footer .block-block-12 { border: 2px solid #c0c0c0; }
footer #map-canvas { height: 198px; width: 100%; }